---
import { changeLanguage } from "i18next";
import AboutMe from "../components/About-me.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Proyects.astro";
import LastProyect from "../components/LastProyect.astro";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");
---

<Layout
  title="Portfolio - Joaquin Villarreal"
  description="Soy un desarrollador de software con experiencia en la creación de soluciones. Mi portafolio refleja mi habilidad para diseñar y desarrollar aplicaciones web y móviles, así como mi compromiso con la excelencia técnica. Explora mi trabajo y descubre cómo mis habilidades pueden contribuir a tus proyectos."
>
  <main class="w-[50%] m-auto">
    <Hero />
    <Experience />
    <LastProyect />
    <Projects />
    <AboutMe />
    <Contact />
  </main>
</Layout>
