---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Proyects.astro";
import AboutMe from "../components/About-me.astro";
import Contact from "../components/Contact.astro";
import Github from "../components/icons/Github.astro";
import Correo from "../components/icons/Correo.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout title="Portfolio - Joaquin Villarreal" description="">
  <main class="w-[50%] m-auto">
    <SectionContainer
      id="home-section"
      class="flex flex-col items-center justify-center pt-20 h-[450px] gap-4"
    >
      <h1
        class="text-center text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight"
        style="opacity: 1; transform: none; color: #9b5de5; mix-blend-mode: screen;"
      >
        Hola, soy Joaquin Villarreal
      </h1>
      <article class="flex gap-3">
        <h2 class="font-bold text-center text-lg text-[#cacacd]">
          Software Developer
        </h2>
      </article>
      <p
        class="text-[#8d93a1] text-sm w-[300px] sm:w-[350px] sm:text-base md:w-[450px] text-center"
      >
        Transformando ideas en experiencias digitales con código y creatividad,
        especializado en aplicaciones web elegantes y centradas en el usuario.
      </p>

      <article class="flex justify-center items-center gap-3">
        <div
          class="relative hidden sm:block w-[100px] md:w-[150px] h-[2px] bg-[#9b5de5]"
        >
        </div>

        <div class="sm:flex justify-center items-center gap-2">
          <a
            class="flex justify-center items-center gap-1 py-2 hover:text-[#9b5de5] hover:scale-x-105 transition"
            href="https://github.com/villarrealjoaquin"
            target="_blank"
          >
            <Github />
            <span class="text-xs font-bold">Github</span>
          </a>

          <a
            class="flex justify-center items-center gap-1 py-2 hover:text-[#9b5de5] hover:scale-x-105 transition"
            href="https://www.linkedin.com/in/joaquin-villarreal-248711236/"
            target="_blank"
          >
            <Linkedin />
            <span class="text-xs font-bold">Linkedin</span>
          </a>

          <a
            class="flex justify-center items-center gap-1 py-2 hover:text-[#9b5de5] hover:scale-x-105 transition"
            href="mailto:villarrealjoaquin09@gmail.com"
          >
            <Correo />
            <span class="text-xs font-bold">villarrealjoaquin09@gmail.com</span>
          </a>
        </div>

        <div
          class="relative hidden sm:block w-[100px] md:w-[150px] h-[2px] bg-[#9b5de5]"
        >
        </div>
      </article>

      <article class="flex gap-2">
        <a
          href="/#contact-section"
          class="bg-[#131a24] text-xs font-bold py-2 px-3 rounded-sm transition duration-300 ease-in-out hover:bg-[#1E293B]"
          >contáctame</a
        >
        <a
          href="/cv.pdf"
          download="cv.pdf"
          class="bg-[#131a24] font-bold py-2 px-3 w-[100px] text-xs rounded-sm transition duration-300 ease-in-out hover:bg-[#1E293B]"
          >Descargar cv</a
        >
      </article>
      <Skills />
    </SectionContainer>
    <Experience />
    <Projects />
    <AboutMe />
    <Contact />
  </main>
</Layout>
