<section class="bg-[#1a1f2e] text-white p-8 my-5 rounded-md shadow-md">
  <h2 class="font-bold my-3 text-xl text-[#cacacd]">Sobre mí</h2>
  <p class="mb-4">
    Soy un <span class="text-[#b688ee] font-bold">desarrollador fullstack</span> con más de <span class="text-[#b688ee] font-bold">1 año de experiencia</span> en el mundo del desarrollo web. Mi enfoque se centra en la creación de <span class="text-[#b688ee] font-bold">experiencias digitales excepcionales</span> utilizando <span class="text-[#b688ee] font-bold">tecnologías modernas</span> y las mejores prácticas de desarrollo.
  </p>
  <p class="mb-4">
    Originario de <span class="text-[#b688ee] font-bold">Buenos Aires, Argentina</span>, tengo <span class="text-[#b688ee] font-bold">21 años.</span> Me gusta <span class="text-[#b688ee] font-bold">contribuir al mundo del código abierto</span>. Disfruto colaborar en <span class="text-[#b688ee] font-bold">proyectos open source</span> y compartir conocimientos con la comunidad.
  </p>
  <p class="mb-4">
    Mi conjunto de habilidades incluye el manejo de tecnologías como <span class="text-[#b688ee] font-bold">React</span>, <span class="text-[#b688ee] font-bold">Next.js</span>, <span class="text-[#b688ee] font-bold">TypeScript</span>, <span class="text-[#b688ee] font-bold">Node.js</span>, <span class="text-[#b688ee] font-bold">Nest.js</span>, <span class="text-[#b688ee] font-bold">Express</span>, y muchas otras. Siempre estoy buscando aprender <span class="text-[#b688ee] font-bold">nuevas tecnologías</span> y mantenerme actualizado con las <span class="text-[#b688ee] font-bold">tendencias del desarrollo</span>.
  </p>
  <p >
    ¡Conéctate conmigo para discutir <span class="text-[#b688ee] font-bold">ideas</span> y <span class="text-[#b688ee] font-bold">proyectos innovadores</span>!
  </p>
</section>
