---
import Linkedin2 from "./icons/skills/Linkedin2.astro";
---

<section class="mt-10">
  <h2 class="font-bold my-3 text-xl text-[#cacacd]">Contacto</h2>
  <p class="text-[#8d93a1] mb-4">
    ¡Me gustaria conocerte! Si tienes alguna pregunta, propuesta de colaboración o simplemente quieres charlar, no dudes en contactarme.
  </p>
  <article class="flex flex-col gap-6">
    <div class="text-[#8d93a1] text-center">
      <p class="mb-2 text-white font-bold">
        <span class="font-bold text-[#b688ee]">Correo Electrónico:</span> villarrealjoaquin09@gmail.com
      </p>
    </div>
    <!-- <div class="flex justify-center">
      <Linkedin2 />
    </div> -->
  </article>
</section>
