---
import SectionContainer from '../components/SectionContainer.astro';
import AstroIcon from './icons/skills/AstroIcon.astro';
---

<SectionContainer class="mt-10">
  <footer class="bg-[#080D1A] m-0 rounded-lg shadow">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 flex items-center justify-center">
      <p class="flex items-center justify-center gap-2 text-sm text-gray-500 text-center m-auto dark:text-gray-400">
        © 2024. Hecho con <span class="">💜</span> y <AstroIcon class="size-3" /> por Joaquín Villarreal
      </p>
    </div>
  </footer>
</SectionContainer>