---
import { t } from "i18next";
import Flag from "./icons/Flag.astro";
import FlagEn from "./icons/FlagEn.astro";

const ROUTES = [
  {
    name: "home",
    href: "/#home",
  },
  {
    name: "experience",
    href: "/#experience",
  },
  {
    name: "proyects",
    href: "/#proyects",
  },
  {
    name: "about",
    href: "/#about-me",
  },
  {
    name: "contact",
    href: "/#contact",
  },
];

---

<header
  class="flex justify-center items-center bg-[#080D1A] h-16 sticky top-0 left-0 right-0 z-10"
>
  <nav class="hidden md:flex justify-center items-center gap-3">
    <ul
      class="flex justify-center gap-5 p-3 rounded-xl text-sm bg-[#0c1524] font-bold"
    >
      {
        ROUTES.map(({ name, href }) => (
          <li class="text-[#90939b] hover:text-purple-300 transition duration-300 ease-in-out cursor-pointer">
            <a href={href}>{t(`sections.${name}`)}</a>
          </li>
        ))
      }
    </ul>

    <a href="/"><Flag /></a>
    <a href="/en"><FlagEn /></a>
  </nav>

  <nav
    id="nav"
    class="flex flex-col items-end menu-icon w-full pr-3 text-[#90939b] cursor-pointer md:hidden"
  >
    <div class="bar w-6 h-1 bg-[#9b5de5] mb-1"></div>
    <div class="bar w-6 h-1 bg-[#9b5de5] mb-1"></div>
    <div class="bar w-6 h-1 bg-[#9b5de5]"></div>
  </nav>

  <div
    id="menu"
    class="hidden md:hidden absolute h-screen top-16 left-0 w-full bg-[#0c1524] text-[#90939b]"
  >
    <ul
      class="flex justify-center flex-col items-center gap-5 h-full text-white font-bold"
    >
      <li><a href="/#home-section">Home</a></li>
      <li><a href="/#experience-section">Experiencia</a></li>
      <li><a href="/#proyects-section">Proyectos</a></li>
      <li><a href="/#aboutme-section">Sobre mí</a></li>
      <li><a href="/#contact-section">Contacto</a></li>
    </ul>
  </div>
</header>

<style>
  #menu {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  const navbar = document.getElementById("nav") as HTMLElement;
  const menuSection = document.getElementById("menu") as HTMLElement;

  navbar.addEventListener("click", () => {
    const condition = menuSection?.style.display === "none" ? "block" : "none";
    menuSection.style.display = condition;
  });

  const mobileLinks = menuSection.querySelectorAll("a");
  mobileLinks.forEach((link) => {
    link.addEventListener("click", () => {
      menuSection.style.display = "none";
    });
  });
</script>
