<!-- <section class="">
  <h2 class="font-bold text-3xl text-[#cacacd] my-6">Descubre Fast-Convert: Facilitando la conversión y visualización de datos</h2>
  <img src="https://media.discordapp.net/attachments/855925025730985995/1211058952863879279/image.png?ex=65ecd18a&is=65da5c8a&hm=e994f24899eb29577f72993bbd752e74aa4a7ed7d161512dbb3ca6e20e05fdea&=&format=webp&quality=lossless&width=1176&height=676"
      alt="Fast-Convert en acción" class="w-full rounded-lg shadow-lg my-8">
  <p class="text-[#cacacd] leading-7">Fast-Convert es una aplicación web diseñada para simplificar la conversión y visualización de datos entre formatos JSON y objetos de programación en diversos lenguajes. Nuestra plataforma ofrece una interfaz intuitiva que permite a los usuarios ingresar datos JSON o estructuras de objetos y obtener una representación formateada, fácil de entender y lista para su implementación.</p>
</section> -->