---
---

<header class="flex justify-center items-center bg-[#090e1ac6] h-16">
  <nav>
    <ul
      class="flex justify-center gap-5 p-3 rounded-xl text-sm bg-[#0c1524] font-bold"
    >
      <li class="text-[#90939b] hover:text-purple-300 transition duration-300 ease-in-out cursor-pointer">Home</li>
      <li class="text-[#90939b] hover:text-purple-300 transition duration-300 ease-in-out cursor-pointer">Experiencia</li>
      <li class="text-[#90939b] hover:text-purple-300 transition duration-300 ease-in-out cursor-pointer">Proyectos</li>
      <li class="text-[#90939b] hover:text-purple-300 transition duration-300 ease-in-out cursor-pointer">Sobre mí</li>
      <li class="text-[#90939b] hover:text-purple-300 transition duration-300 ease-in-out cursor-pointer">Contacto</li>
    </ul>
  </nav>
</header>