---
import { t } from "i18next";
import SectionContainer from "../components/SectionContainer.astro";
import Css from "./icons/skills/Css.astro";
import Express from "./icons/skills/Express.astro";
import Jwt from "./icons/skills/Jwt.astro";
import MongoDB from "./icons/skills/MongoDB.astro";
import Nest from "./icons/skills/Nest.astro";
import Next from "./icons/skills/Next.astro";
import Node from "./icons/skills/Node.astro";
import React from "./icons/skills/React.astro";
import Styled from "./icons/skills/Styled.astro";
import Tailwind from "./icons/skills/Tailwind.astro";
import Typescript from "./icons/skills/Typescript.astro";
import "../styles/globals.css";

const TAGS = {
  REACT: {
    name: "react",
    icon: React,
  },
  NEXT: {
    name: "next",
    icon: Next,
  },
  TYPESCRIPT: {
    name: "typescript",
    icon: Typescript,
  },
  TAILWIND: {
    name: "tailwind",
    icon: Tailwind,
  },
  NODE: {
    name: "node",
    icon: Node,
  },
  EXPRESS: {
    name: "express",
    icon: Express,
  },
  MONGODB: {
    name: "express",
    icon: MongoDB,
  },
  JWT: {
    name: "jwt",
    icon: Jwt,
  },
  NEST: {
    name: "nest",
    icon: Nest,
  },
  STYLED: {
    name: "styled",
    icon: Styled,
  },
  CSS: {
    name: "css",
    icon: Css,
  },
};

const PROJECTS = [
  {
    name: "Gestor de gastos",
    image: "/877shots_so.webp",
    description: `Un administrador de gastos simple y eficiente creado con Next.js para ayudarlo a realizar un seguimiento de los ingresos, los gastosy visualizar sus datos financieros.`,
    technologies: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
    deploy: "gestor-de-gastos-eight.vercel.app",
    github: "https://github.com/villarrealjoaquin/Gestor-de-gastos",
  },
  {
    name: "Rooms (Proyecto de Salas en Tiempo Real)",
    image: "673shots_so (1).webp",
    description: `Este es un proyecto de sistema de chat en tiempo real desarrollado
            con el objetivo de implementar la librería Socket.io y explorar
            tecnologías como React, TypeScript, Node.js, Express, MongoDB y JWT.`,
    technologies: [
      TAGS.REACT,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.NODE,
      TAGS.EXPRESS,
      TAGS.MONGODB,
      TAGS.JWT,
    ],
    deploy:
      "https://www.linkedin.com/feed/update/urn:li:activity:7120866337538641920/",
    Repositorio: "https://github.com/villarrealjoaquin/rooms",
  },
  {
    name: "Travel Nest",
    image: "/138shots_so.webp",
    description: `Plataforma de gestión de alquileres de departamentos, con funciones de reserva, registro y autenticación. Incorpora medidas de seguridad avanzadas con tokens de acceso y de actualización. Utiliza la API de Google Maps para la ubicación y ChatGPT para recomendaciones personalizadas de departamentos.`,
    technologies: [
      TAGS.REACT,
      TAGS.TYPESCRIPT,
      TAGS.TAILWIND,
      TAGS.NEST,
      TAGS.MONGODB,
      TAGS.JWT,
    ],
    github: "https://github.com/villarrealjoaquin/Travel-nest",
  },
  {
    name: "Reading List",
    image: "/885shots_so.webp",
    description: `es una mini tienda la cual el usuario puede arrastrar y soltar el libro que desee a una lista de lectura. Tiene permanencia de datos con localStorage y sincronizacion entre pestañas. Esta hecho con react, typescript y styled components.`,
    technologies: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.STYLED],
    deploy: "https://pruebas-tecnicas-gold.vercel.app",
    github: "https://github.com/villarrealjoaquin/Reading-List",
  },
  {
    name: "Reclama Smart (Proyecto Freelance)",
    image: "316shots_so.webp",
    description: `Proyecto Freelance, creacion de sitio web para una start up de abogados`,
    technologies: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.CSS],
    deploy: "https://reclama-smart.vercel.app",
    github: "https://github.com/villarrealjoaquin/reclama-smart",
  },
  {
    name: 'Pokemon game "who is that pokemon"',
    image: "673shots_so.webp",
    description: `Proyecto de juego de Pokémon donde los usuarios adivinan nombres
            para ganar puntos. Utiliza React para la interfaz y una API externa
            para obtener información de Pokémon. El objetivo es acumular la
            mayor cantidad de puntos antes de perder toda la vida.`,
    technologies: [TAGS.REACT, TAGS.TYPESCRIPT, TAGS.CSS],
    deploy: "https://who-is-that-pokemon-ten.vercel.app",
    github: "https://github.com/villarrealjoaquin/Who-is-That-Pokemon",
  },
];
---

<SectionContainer id="proyects" class="mb-28">
  <h2 class="font-bold my-5 text-3xl text-[#cacacd]">Proyectos</h2>
  <ul class="flex flex-col gap-y-10">
    {
      PROJECTS.map(
        ({ name, image, description, technologies, github, deploy }, i) => (
          <li class="lg:flex justify-between gap-3 w-full">
            <img
              src={image}
              class="w-full h-auto lg:w-1/2 md:h-[250px] object-cover rounded-md"
              alt={name}
            />
            <article class="flex flex-col lg:w-1/2 justify-between h-[250px]">
              <div>
                <h3 class="font-bold text-[#b688ee] my-3 lg:my-0 lg:mb-3 sm:text-base">
                  {t(`proyects.proyect${i + 1}.title`)}
                </h3>
                <p class="text-xs text-balance w-56 sm:w-72 md:w-[500px] lg:w-full sm:text-sm sm:text-pretty text-[#c4cee4]">
                  {t(`proyects.proyect${i + 1}.description`)}
                </p>
              </div>
              <div class="mt-2 flex flex-col gap-2">
                <div class="flex items-center gap-2 w-48 md:w-full">
                  {technologies && technologies.map((tech) => <tech.icon />)}
                </div>
                <div class="flex gap-2">
                  {deploy && (
                    <a
                      href={deploy}
                      target="_blank"
                      class="bg-[#131a24] font-bold py-2 px-3 text-xs rounded-lg transition duration-300 ease-in-out hover:bg-[#1E293B]"
                    >
                      {t("buttons.online")}
                    </a>
                  )}
                  <a
                    href={github}
                    target="_blank"
                    class="bg-[#131a24] font-bold py-2 px-3 text-xs rounded-lg transition duration-300 ease-in-out hover:bg-[#1E293B]"
                  >
                    {t("buttons.repository")}
                  </a>
                </div>
              </div>
            </article>
          </li>
        )
      )
    }
  </ul>

  <article class="flex justify-center my-10">
    <a
      href="https://github.com/villarrealjoaquin?tab=repositories"
      target="_blank"
      class="bg-[#131a24] text-xs font-bold py-2 px-3 rounded-lg transition duration-300 ease-in-out hover:bg-[#1E293B]"
    >
      {t("buttons.more_proyects")}
    </a>
  </article>
</SectionContainer>
