---
import React from "./icons/skills/React.astro";
import Next from "./icons/skills/Next.astro";
import Javascript from "./icons/skills/javascript.astro";
import Node from "./icons/skills/Node.astro";
import Redux from "./icons/skills/Redux.astro";
import AstroIcon from "./icons/skills/AstroIcon.astro";
import ReactQuery from "./icons/skills/ReactQuery.astro";
import Nest from "./icons/skills/Nest.astro";
import Express from "./icons/skills/Express.astro";
import MongoDB from "./icons/skills/MongoDB.astro";
import MySql from "./icons/skills/MySql.astro";
import Supabase from "./icons/skills/Supabase.astro";
import Jest from "./icons/skills/Jest.astro";
import Vitest from "./icons/skills/Vitest.astro";
import Css from "./icons/skills/Css.astro";
import Redis from "./icons/skills/Redis.astro";
import Git from "./icons/skills/Git.astro";
import Typescript from "./icons/skills/Typescript.astro";
import Tailwind from "./icons/skills/Tailwind.astro";
import "../styles/globals.css";
import Jwt from "./icons/skills/Jwt.astro";
---

<section
  class="hidden lg:flex justify-center items-center lg:max-w-[600px] xl:max-w-[700px] gap-5 m-auto carousel-container"
>
  <article
    class="flex m-auto h-12 justify-center items-center gap-5 icon-scroll-container"
  >
    <React />
    <Next />
    <Typescript />
    <Javascript />
    <Node />
    <Redux />
    <Tailwind />
    <AstroIcon />
    <ReactQuery />
    <Nest />
    <Express />
    <MongoDB />
    <MySql />
    <Jwt />
    <Supabase />
    <Jest />
    <Vitest />
    <Css />
    <Redis />
    <Git />
  </article>

  <article
    class="flex m-auto h-12 justify-center items-center gap-5 icon-scroll-container"
  >
    <React />
    <Next />
    <Typescript />
    <Javascript />
    <Node />
    <Redux />
    <Tailwind />
    <AstroIcon />
    <ReactQuery />
    <Nest />
    <Express />
    <MongoDB />
    <MySql />
    <Jwt />
    <Supabase />
    <Jest />
    <Vitest />
    <Css />
    <Redis />
    <Git />
  </article>


</section>

<style>
 .carousel-container {
    position: relative;
    overflow: hidden;
  }

  .carousel-container::before,
  .carousel-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    z-index: 1;
  }

  .carousel-container::before {
    left: 0;
    background: linear-gradient(to right, rgba(9, 16, 28, 1), rgba(9, 16, 28, 0));
  }

  .carousel-container::after {
    right: 0;
    background: linear-gradient(to left, rgba(9, 16, 28, 1), rgba(9, 16, 28, 0));
  }

  .icon-scroll-container {
    display: flex;
    animation: scroll 40s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
</style>
